<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>I'm in the AppComponent!</h1>
      <hr />
      <app-servers></app-servers>
      <condition-component></condition-component>
      <app-assignment3></app-assignment3>
      <!-- can call the component like this, but change the server.component.ts -->
      <!-- <div app-servers></div> -->
      <!-- <div class="app-servers"></div> -->


      <!-- <warning-alert></warning-alert> -->
      <!-- <success-alert></success-alert> -->
    </div>
  </div>
</div>
